<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <title>Virtual EMDR</title>
</head>
<body>
    <div class="container-fluid" style="text-align: center; background-color: #3c4876;">
        <img src="../static/images/VEMDR logo small.png">
    </div>
    <div class="container-fluid">
        <h3>AUTO RESPONSE EMAILS (BLADE.PHP)</h3>
        <br>
        <table class="table table-bordered">
            <thead style="background-color: #858dac; color:#ffffff">
                <tr>
                    <th><h4>GENERAL</h4></th>
                    <th><h4>PRE-PURCHASE</h4></th>
                    <th><h4>PURCHASE</h4></th>
                    <th><h4>POST-PURCHASE</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h4>TEMPLATE</h4>
                        <ul>
                            <li><a href="masterfile">Master Template</a></li>
                        </ul>
                        <h4>ADMINISTRATOR</h4>
                        <ul>
                            <li><a href="admin_invite">Administrator Set-up</a></li>
                            <li><a href="admin_confirmation">Administrator Confirmation</a></li>
                        </ul>
                        <h4>ENQUIRIES</h4>
                        <ul>
                            <li><a href="contact_acknowledgement">Contact Acknowledgement</a></li>
                            <li><a href="story_acknowledgement">Story Acknowledgement</a></li>
                        </ul>    
                    </td>
                    <td>
                        <h4>MAILING LIST</h4>
                        <ul>
                            <li><a href="mailing_list_signup">Mailing List Sign-up</a></li>
                        </ul>
                        <h4>LEAD MAGNETS</h4>
                        <ul>
                            <li><a href="sample_session_signup">Sample Session Sign-up</a></li>
                            <li><a href="bibeats_signup">Bi-Beats Sign-up</a></li>
                            <li><a href="ebook_signup">e-Book Sign-up</a></li>
                            <li><a href="webinar_signup">Webinar Sign-up</a></li>
                        </ul>
                        <h4>THERAPIST LISTINGS</h4>
                            <li><a href="therapist_listing">Therapist Listing</a></li>
                            <li><a href="therapist_delisting">Therapist De-listing</a></li>
                        <ul>
                        </ul>
                    </td>
                    <td>
                        <h4>SUBSCRIPTIONS</h4>
                        <ul>
                            <li><a href="welcome_regular">Welcome (Regular)</a></li>
                            <li><a href="welcome_coaching">Welcome (Coaching)</a></li>
                            <li><a href="welcome_gift">Welcome (Gift)</a></li>
                            <li><a href="welcome_gift_sender">Welcome (Gift)-Sender</a></li>
                            <li><a href="welcome_access_code">Welcome (Access Code)</a></li>
                            <li><a href="welcome_first_responder">Welcome (First Responder)</a></li>
                        </ul>
                        <h4>COACHING SCHEDULING</h4>
                        <ul>
                            <li><a href="coaching_confirmation">Coaching Confirmation</a></li>
                            <li><a href="coaching_reminder">Coaching Reminder</a></li>
                            <li><a href="coaching_noshow">Coaching No Show</a></li>
                        </ul>
                    </td>
                    <td>
                        <h4>ACCOUNT CHANGES</h4>
                        <ul>
                            <li><a href="create_profile">Create Profile</a></li>
                            <li><a href="password_reset">Password Reset</a></li>
                            <li><a href="update_profile">Update Profile</a></li>
                            <li><a href="change_plan">Change Plan</a></li>
                            <li><a href="account_lock">Account Lock</a></li>
                        </ul>
                        <h4>RENEWAL</h4>
                        <ul>
                            <li><a href="trial_end">Free Trial End</a></li>
                            <li><a href="gift_end">Gift Subscription End</a></li>
                            <li><a href="renewal_upcoming">Renewal Upcoming</a></li>
                            <li><a href="renewal_confirmation">Renewal Confirmation</a></li>
                        </ul>
                        <h4>CANCELLATION</h4>
                        <ul>
                            <li><a href="cancellation">Cancellation</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</body>
</html>